name: Deploy to Azure Container Apps

on:
  workflow_call:
    inputs:
      container-app-name:
        description: "Name of the Azure Container App"
        required: true
        type: string
      image-name:
        description: "Docker image name (without registry)"
        required: true
        type: string

jobs:
  deploy:
    name: Deploy ${{ inputs.container-app-name }}
    runs-on: ubuntu-latest

    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Container App
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az containerapp update \
              --name ${{ inputs.container-app-name }} \
              --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} \
              --image ${{ secrets.ACR_LOGIN_SERVER }}/${{ inputs.image-name }}:latest
              